body {
  /* background-image: url(./226.jpg); */
  background: rgb(55, 12, 12);
  background: linear-gradient(
    90deg,
    rgba(55, 12, 12, 1) 25%,
    rgba(0, 0, 0, 1) 50%,
    rgba(30, 39, 74, 1) 75%
  );
  color: white;
  user-select: none;

  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

nav {
  background-color: rgb(0, 0, 0);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2); /* Transparent white background */
  backdrop-filter: blur(10px); /* Blur the background */
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
  padding: 20px;
}

.card-header {
  font-weight: bold;
  border-radius: 15px 15px 0 0;
}

button.btn {
  border-radius: 20px;
  font-weight: bold;
}

h4,
.h5 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
